
/* =Menu
-------------------------------------------------------------- */
.clock{
color:black;
float:right;
padding:10px; 
margin:0px auto;
font-size:12px;
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
}
.topmenu{
background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
border-radius: 7px 0px 0px 0px;
box-shadow: 0 1px 1px rgba(250, 250, 250, 0.42) inset;
float: left;
width:100%;
margin:1px auto;

}
#access {
	clear: both;
	display: block;
	margin: 0 auto 6px;
	
}
#access ul {
	font-size: 13px;
	list-style: none;
	margin: 0px;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {

	display: block;
	line-height: 3.333em;
	padding: 0 1.2125em;
	text-decoration: none;
}
#access ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	top: 3.333em;
	left: 0;
	width: 188px;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #f9f9f9;
	border-bottom: 1px dotted #ddd;
	color: #444;
	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 1.4em;
	padding: 10px 10px;
	width: 168px;
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #efefef;
}
#access li:hover > a,
#access a:focus {
	background: #f9f9f9; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	color: #373737;
}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	font-weight: bold;
}
